*.pyc
build/
__pycache__/
*.c
examples/*.p
examples/*.tmp
MANIFEST
dist/
doc/source/_build/
.coverage
src/lsqfit/_version.py
files-*.python*
lsqfit.todo
lsqfit.tmproj
nose-uncovered.py
yyy*
xxx*
git-instructions
*.sublime-*
