*.pyc
.vscode
build/
old/
__pycache__/
examples/*.p
examples/*.tmp
examples/*.tmp.0
examples/*.tmp.1
examples/mpi-*/
MANIFEST
dist/
doc/source/_build/
.coverage
files-*.python*
lsqfit.todo
lsqfit.tmproj
nose-uncovered.py
yyy*
xxx*
zzz*
zyx*
xyz*
git-instructions
*.sublime-*
references/
tmp/
misc/
ideas/
todo/
gvar-distribution/
doc/html/_static/dialog-todo.png
doc/latex/
doc/source/outputfile.p
lsqfit.egg-info
src/lsqfit.egg-info
outputfile.p
README.html
multi/
src/lsqfit/_gsl.c        
src/lsqfit/_utilities.c
gsl
save-dist
save/
*.ipynb
.ipynb_checkpoints/