include makefile README.rst INSTALLATION.txt LICENSE.txt MANIFEST.in CHANGES.txt
include setup.py src/lsqfit/*.pyx src/lsqfit/*.c
include doc/lsqfit.pdf

graft doc/html
graft examples
graft tests
exclude examples/*.tmp
exclude examples/*.pyc
exclude examples/*.1.0
exclude examples/*.1.1
exclude tests/*.pyc
recursive-exclude tests/__pycache__ *
recursive-exclude doc/source/_build *
